body,
input,
textarea,
select,
button {
	font-family: $font-family-lato;
	font-size: 14px;
	line-height: 24px;
	color: $color-neutral-gray-1;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: $font-family-dm-serif;
	margin-bottom: 0;
	font-weight: $font-weight-regular;
}

h1,
.h1 {
	font-size: 52px;
	line-height: 64px;
}

h2,
.h2 {
	font-size: 40px;
	line-height: 48px;
}

h3,
.h3 {
	font-size: 36px;
	line-height: 44px;
}

h4,
.h4 {
	font-size: 28px;
	line-height: 40px;
}

h5,
.h5 {
	font-size: 24px;
	line-height: 32px;
}

h6,
.h6 {
	font-size: 20px;
	line-height: 28px;
}

p,
li {
	font-family: $font-family-lato;
	font-weight: $font-weight-regular;
	font-size: 14px;
	line-height: 24px;
	color: $color-neutral-gray-1;
	margin: 20px 0;
	//make a mixin on video
}
