// Font Families
$font-family-lato: 'Lato', 'sans-serif';
$font-family-dm-serif: 'DM Serif Display', 'serif';

// Font Weights
$font-weight-light: 100;
$font-weight-regular: 400;
$font-weight-senmiBold: 600;
$font-weight-bold: 700;

// Colors
$color-green-light: #9fe2b1;
$color-green: #43c365;
$color-green-dark: #2d9b4a;
$color-red-light: #e18a8f;
$color-red: #bf1722;
$color-red-dark: #9c0e18;
$color-blue-light: #48c9db;
$color-blue: #0079a8;
$color-blue-dark: #026389;
$color-yellow: #e3af4a;
$color-purple: #3c3e9f;
$color-neutural-gray-1: #27363e;
$color-neutural-gray-2: #3b4c54;
$color-neutural-gray-3: #64747d;
$color-neutural-gray-4: #b2b9bd;
$color-neutural-gray-5: #dbdfe1;
$color-neutural-gray-6: #f7f8f8;
$color-neutural-gray-7: #fcfcfc;
$color-white: #fff;
$color-black: #000;
$color-transparent: transparent;

$box-shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.06);
$box-shadow-large: rgba(9, 30, 66, 0.13) 0px 4px 11px;

$border-radius: 0.5rem;
$border-radius-large: 1rem;

// Layout
$container-width: 1328px;

// Animations
$default-transition-time: 0.3s;
$default-transition-effect: linear;
$default-transition: #{$default-transition-time} #{$default-transition-effect};

// Form Controls
$button-border-radius: 100px;
$input-border-radius: 5px;
$input-border-width: 1px;
$input-border-color: $color-neutral-gray-4;

// Footer
$footer-top-color: #34454C;